[user]
	name = Brett Tanner
	email = bretttanner171@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = nvim
	excludesfile = /Users/brett/.gitignore_global
[alias]
	ac = !git add -A && git commit -m
	c = !git checkout
	lo = !git log --oneline
	p = !git pull
	ps = !git push
	s = !git status
